body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.btn.btn-custom-azul {
  background-color: #007bff;
  border: none;
  color: white;
}
.btn.btn-custom-azul:hover {
  background-color: #0056b3;
}

.navbar{
    text-align: start;
}

.vagas {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}

.container.vagas h1 {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.774);
    text-align: center;
}

.vaga {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vaga h2 {
    margin: 0;
    color: #0073e6;
}

.vaga p {
    color: #555;
}

.vaga a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.vaga a:hover {
    background-color: #005bb5;
}

.col{
    margin-bottom: 20px;
}

.custom-card {
  width: 18rem;
  margin: auto; 
  max-width: 350px;
}

@media (max-width:767px){
    img{
        max-width: 250px;
        margin: auto;
    }
    .custom-card p{
        font-size: 20px;
    }
}
